@import "bourbon/bourbon"

body
	font-family: "Raleway", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.42857
	-webkit-font-smoothing: antialiased

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none

section, .main_head
	position: relative


// =====sections====

section
	padding: 70px 0
	h2
		text-align: center
		font-size: 24px
		text-transform: uppercase
		margin: 0 0 15px

.s_descr_wrap
	text-align: center
.s_descr
	display: inline-block
	font-size: 12px
	text-transform: uppercase
	position: relative
	margin-bottom: 130px
	&::after
		content: ''
		width: 150px
		height: 1px
		left: 50%
		margin-left: -75px
		margin-top: 60px
		position: absolute

.main_head
	min-height: 620px

.logo_container
	float: left
	position: relative
	z-index: 1
	margin: 15px 0 0 15px
	img
		height: 200px
		width: 240px

// =======================
// =========menu==========
// =======================

// menu button
.toggle_mnu
	z-index: 3
	outline: none
	position: fixed
	right: 25px
	top: 25px
	border: 0
	height: 60px
	width: 60px
	text-align: center
	vertical-align: middle
body
	background-color: #333

//sandwich
$w : 32px
$h : 4px
.sandwich
	width: $w
	height: $w
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: 24px
	border-radius: 4px
.sw-topper
	position: relative
	top: 0
	width: $w
	height: $h
	background: rgb(255, 255, 255)
	border: none
	border-radius: 4px 4px 4px 4px
	//transition: transform 0.3s, top 0.1s
	//transition-delay: 0.2s, 0s;
.sw-bottom
	position: relative
	width: $w
	height: $h
	top: ($h * 2)
	background: rgb(255, 255, 255)
	border: none
	border-radius: 4px 4px 4px 4px
	//transition: transform 0.3s, top 0.1s
	//transition-delay: 0.1s, 0s
.sw-footer
	position: relative
	width: $w
	height: $h
	top: ($h * 4)
	background: rgb(255, 255, 255)
	border: none
	border-radius: 4px 4px 4px 4px
	//transition: all 0.3s
	//transition-delay: 0.1s
.sandwich.active
	margin: 37px 24px
	.sw-topper
		top: 2px
		transform: rotate(140deg)
	.sw-bottom
		top: -3px
		transform: rotate(-135deg)
	.sw-footer
		opacity: 0
		top: 0
		transform: rotate(-180deg)

// menu
.top_mnu
	display: none
	position: fixed
	width: 100%
	height: 100%
	color: #fff
	background-color: rgba(0, 0, 0, .9)
	z-index: 2
	top: 0
	left: 0
	ul, li
		list-style-type: none
		margin: 0
		padding: 0
	ul
		text-align: center
		margin-top: 120px
		a
			display: block
			padding: 20px
			text-transform: uppercase
			-webkit-transition: all 0.5s ease
			-moz-transition: all 0.5s ease
			-o-transition: all 0.5s ease
			transition: all 0.5s ease

		a:hover
			background-color: rgba(255, 255, 255, .1)

//top-text
.top_wrapper
	display: table
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 1
	.top_descr
		display: table-row
		.top_centred
			display: table-cell
			text-align: center
			vertical-align: middle
			.top_text
				display: inline-block
				h1
					display: inline-block
					padding: 10px 90px
					margin: 5px
					border: 8px solid white
					font-weight: 700
					font-size: 3.2em
					background-color: rgba(0,0,0,.3)
					-webkit-box-shadow: rgba(0,0,0,.3) 0 0 300px 300px
					-moz-box-shadow: rgba(0,0,0,.3) 0 0 300px 300px
					box-shadow: rgba(0,0,0,.3) 0 0 300px 300px
				p
					font-size: 1.5em
					//text-transform: uppercase
//footer
.main_footer
	padding: 30px 0
	margin-left: -65px
	font-size: 13px

//parallax
.parallax-window
	min-height: 400px
	background: transparent

//preloader
#page-preloader
	position: fixed
	left: 0
	top: 0
	right: 0
	bottom: 0
	background: #000
	z-index: 100500

#page-preloader .spinner
	width: 32px
	height: 32px
	position: absolute
	left: 50%
	top: 50%
	background: url("../img/preloader.gif") no-repeat
	background-size: cover
	margin: -16px 0 0 -16px