@import "../bourbon/bourbon"

$color: #FF6347
$color_transparent: rgba(255, 99, 71, 0.5)
//Theme skin
$text_color: #a4a4a4
$main_color: #222

$bg_light: #FAFAFA

@mixin kerning($kerning)
  letter-spacing: $kerning + px

body
  color: $main_color
  +kerning(1)

.color_element
  color: $color

.color_bg
  background-color: $color

.color_border
  border-color: $color

.main_color_bg
  background-color: $main_color

// header
.top_wrapper
  h1
    +kerning(12)
    color: $bg_light
  p
    +kerning(4)
    color: $bg_light

.main_footer
  color: $text_color
  background-color: #000

// =====sections====
section
  p, li, h4
    color: $text_color
  h2, h3
    +kerning(4)

.section_lite
  background-color: $bg_light

  .s_descr
    color: $main_color
    &::after
      background-color: $main_color
  h2
    color: $main_color
  h3
    color: $color

.section_dark
  background-color: $main_color
  .s_descr, h2, h3
    color: $bg_light
  .s_descr::after
    background-color: $bg_light
  a
    color: $bg_light
    background-color: $color
    +kerning(4)
  a:hover
    color: $color
    background-color: $bg_light

.s_descr
  +kerning(4)
  color: $bg_light
  &::after
    background-color: $main_color

.s_howwedo ul
  .active
    color: $color
    border-bottom: solid 2px $color

#portfolio_wrapper
  .portfolio_item_content
    +kerning(2)
    h3
      color: $bg_light
    button
      border-color: $color
      color: $color
      outline: none

      
//contacts
.phone_number
  +kerning(2)
  color: $color
  
.main_form
  button
    background-color: $color
    &:hover
      color: $color
      background-color: $bg_light
  color: $bg_light
  input, textarea
    color: $main_color
    &:focus
      outline-color: $color

.text-danger
  color: $color

// ======menu======
.sandwich
  background-color: $color
  box-shadow: $color 0 -2px 0 5px

.sandwich_transparent
  background-color: transparent
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 5px
  //-webkit-transition: all 0.5s ease
  //-moz-transition: all 0.5s ease
  //-o-transition: all 0.5s ease
  //transition: all 0.5s ease
.toggle_mnu
  background-color: transparent
  padding-bottom: 10px
.top_mnu
  a
    color: $bg_light
    +kerning(4)
  a:hover
    color: $color

